.login-background{
    background-color: white;
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

mat-form-field {
    width: 100%;
}